h1{}
h2{}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.coder-box{
    border: 1px solid red;
}
.login-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex:1;
    background-color: rgba(68, 34, 120, 0.355);
    min-width:270px;
}