h1{
}
h2{}
body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.coder-box{
    border: 1px solid red;
}
.login-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(68, 34, 120, 0.355);
    min-width:270px;
    width: 25vw;
    min-height:270px;
    height: 25vw;
    border: 1vh solid purple;
    border-radius: 2vh;
}
button:hover{
    background-color: aquamarine;
    size: 1.5em;
}